@model Clinic.Models.InsuranceCompany

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>InsuranceCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditCompany" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="InsuranceCompanies">Back to List</a>
</div>
