@model IEnumerable<EiadaClinic.Models.InsuranceCompany>

@{
    ViewData["Title"] = "Insurance Companies";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Insurance Companies</h4>
                <p class="card-category"> <a asp-action="CreateCompany">Create new company</a> </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fax)
                        </th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fax)
                                </td>
                                <td class="col-md-12 pull-right">
                                    <a asp-action="InsuranceCompany" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>