@model IEnumerable<EiadaClinic.Models.Doctor>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Doctors</h4>
                <p class="card-category"> <a asp-action="CreateDoctor">Create new doctor</a> </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            @Html.DisplayNameFor(model => model.User.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Specialty)
                        </th>
                        <th>
                            Assistant
                        </th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Specialty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Assistant.User.UserName)
                                    </td>
                                    <td class="col-md-12 pull-right">
                                        <a asp-action="Doctor" asp-route-id="@item.Id">Details</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>