@model Clinic.Models.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Patients";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/PatientinDoctorView.css">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row " style="border-bottom:2px solid seagreen; margin-bottom:10px">
            <div class="col-10">
                <h1 class="treatment">Consultations</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <header class=header-patients role="banner">
                    <nav class="nav" role="navigation">
                        <ul class="nav__list">
                            @foreach (var patient in Model.Patients)
                            {

                                <li>
                                    <input id="group-1-@patient.Id" type="checkbox" hidden />
                                    <label for="group-1-@patient.Id"><span class="fa fa-angle-right"></span> @patient.User.FirstName @patient.User.MiddleName  @patient.User.LastName</label>
                                    <ul class="group-list">
                                        <li>
                                            <input id="sub-group-1-@patient.User.Id" type="checkbox" hidden />
                                            <label for="sub-group-1-@patient.User.Id"><span class="fa fa-angle-right"></span> Profile</label>
                                            <ul class="sub-group-list-@patient.User.Id">
                                                <li>
                                                    <table>
                                                        <tr><td>Phone:  </td><td>@patient.User.PhoneNumber</td></tr>
                                                        <tr><td>Gender: </td><td>@patient.User.Gender</td></tr>
                                                        <tr><td>Address: </td><td>@patient.User.Address</td></tr>
                                                        <tr><td>Birthday: </td><td>@patient.User.Birthday</td></tr>
                                                        <tr><td>BloodType: </td><td>@patient.BloodType</td></tr>
                                                    </table>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <input id="sub-group-1-@patient.Id" type="checkbox" hidden />
                                            <label for="sub-group-1-@patient.Id"><span class="fa fa-angle-right"></span> Consultations </label>
                                            <ul class="sub-group-list-@patient.Id">

                                                @foreach (var consultation in patient.Consultations)
                                                {

                                                    <li><a asp-action="Patient" asp-controller="Doctor" asp-route-pid="@patient.Id" asp-route-cid="@consultation.Id">@consultation.Type</a></li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            }

                        </ul>
                    </nav>
                </header>
            </div>
        </div>
        <br /><br /><br />
        <div class="row " style="border-bottom:2px solid seagreen; margin-bottom:10px">
            <div class="col-10">
                <h1 class="treatment">Appointments</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <table>
                    <tr><th>Patient</th><th>Date</th></tr>
                    @foreach (var patient in Model.Patients)
                    {
                        @foreach (var appointment in patient.Appointments)
                        {
                            <tr><td>@patient.User.FirstName @patient.User.LastName</td><td>@appointment.Date</td></tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</body>
</html>