@model EiadaClinic.Models.ViewModels.DoctorViewModel

@{
    ViewData["Title"] = "Assistants";
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Patients</h4>
                <p class="card-category"> </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Username
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Blood Type
                        </th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Patients)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BloodType)
                                    </td>
                                    <td class="col-md-12 pull-right">
                                        <a asp-action="Patient" asp-route-id="@item.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Appointments</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Patient
                        </th>
                        <th>
                            Date
                        </th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Appointments)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Patient" asp-route-id="@item.Patient.Id">@Html.DisplayFor(modelItem => item.Patient.User.UserName)</a>
                                    </td>
                                    <td>
                                        @item.Date.ToString()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
